<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Textboxlist Demo</title>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="textboxlist" ng-controller="TagListController as ctrl">
		<span class="tag"
			ng-repeat-start="tag in ctrl.tags track by $index"
			ng-if="$index != ctrl.editing"
			ng-bind="tag.text"
			ng-click="ctrl.edit($index)"></span>
		<input class="editing"
			ng-model="tag.text"
			ng-if="$index == ctrl.editing"
			ng-repeat-end/>
		<span class="leftover"
			ng-click="ctrl.append_tag()"><span>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script src="script.js"></script>
</body>
</html>
