$border-radius: 3px;
$input-padding: 6px;

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 1rem;
}

html {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.textboxlist {
	border-radius: $border-radius;
	border: 1px solid #999;
	display: flex;
	line-height: 1rem;
	padding: $input-padding;

	.tags {
		flex-grow: 0;
		padding: 0;
		margin: 0;

		> * {
			border: 0;
			cursor: text;
			font-family: inherit;
			font-size: inherit;
			line-height: 1rem;
			margin: 0 $input-padding 0 0;
		}

		.tag {
			background-color: #2980b9;
			border-radius: $border-radius;
			color: white;
			padding: $input-padding;
		}
	}

	.leftover {
		flex: 1;
		
	}

	input {
		border: 0;
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		line-height: 1rem;
		margin: 0 $input-padding 0 0;
		outline: none;
	}
}